* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    font-style: italic;
    text-align: center;
    background-color: rgb(242, 255, 171);
    padding: 30px;
    font-weight: bold;
}

header {
    background-color: antiquewhite;
    padding: 100px;
    text-align: center;
    border-bottom: 10px solid rgb(226, 226, 136);
    border-top: 10px solid rgb(226, 226, 136);
}

header p {
    margin: 20px;

}

header hr {
    background-color: rgb(255, 60, 0);
    margin: 0 auto;
    height: 5;
    border: none;
    width: 10%;


}


header button {
    background-color: orangered;
    border: 2px solid orange;
    width: 25%;
    padding: 20px;
    border-radius: 20px;
    transition: all 0.25 ease-out;
    color: aliceblue;
    font-weight: bolder;
    display: inline-block;
}


.styled_table {
    text-align: center;
    table-layout: auto;
    width: 100%;
    margin: 0px auto;
}


header button:hover {
    transform: scale(1.1), translateY(4px);
    background-color: rgb(230, 230, 173);
    color: orangered;
    transition: 0.25s ease-in;
}

.container_stuff {
    margin: 40px;
    background-color: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 20px;
    border: 10px solid rgba(255, 69, 0, 0.25);
    border-bottom: 6px solid orange;

}

.container_stuff h2 {
    color: red;

    padding: 20px;
}

.container_stuff p {
    line-height: 1;
    padding: 20px;
}


.container_stuff .smaller_container {
    background-color: rgb(242, 255, 171);
    border-radius: 10px;
    border-left: 10px solid green;
    padding: auto;
}


.table_container_first {

    background-color: aliceblue;
    padding: 70px;
    margin: 40px;
    border-radius: 20px;
    border: 6px solid orange;
}

.table_container_first h2 {
    margin-bottom: 20px;
}


.table_container_first .styled_table {
    border: 1px orange solid;
    padding: 20px;


}


th {
    border: 1px solid red;
    padding: 20px;
    color: aliceblue;
    background-color: red;
    text-align: left;
}

td {
    border: 1px solid rgb(255, 0, 0);
    padding: 20px;
}



.form-container {
    background-color: rgb(247, 243, 238);
    margin: 40px;
    border-radius: 20px;
    border: 3px orange solid;
}

.form-container h2 {
    color: red;
    padding: 20px;
}

.form-container p {
    padding: 20px;
}

label {
    margin: 20px;
    padding: 2px;
    font-weight: bold;
}

input:required {
    margin: 20px;
    width: 35%;
    height: 4%;
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(228, 215, 199);
    transition: all 0.25s ease-out;

}

input:required:focus {
    background-color: white;
    border: 6px green solid;
    transition: 0.25s;
}

textarea:focus {
    background-color: white;
    border: 6px green solid;
    transition: 0.25s;
}


.radio_container {
    background-color: rgb(255, 254, 246);
    width: 50%;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    border: 2px dashed rgb(255, 94, 0);
}

#req::after {
    content: " *";
    color: red;
}

/* #choosing_radio{
    
} */

.form-container textarea {
    padding: 20px;
    margin: 20px;
    width: 50%;
    border-radius: 20px;
    transition: all 0.25s ease-out;
}

.form-container button {
    margin: 20px;
    padding: 20px;
    border: 2px orange solid;
    border-radius: 20px;
    background-color: coral;
    color: aliceblue;
    font-weight: bold;
    transition: all 0.5s ease-out;
}

.form-container button:hover {
    background-color: rgb(156, 139, 133);
    transform: translateY(-4px);
    transition: 0.5s;
    border: 2px rgb(221, 208, 183) solid;
}


tr:hover {
    background-color: rgb(231, 231, 220);
    transition: 0.25s;
}

.final_container {
    background-color: aliceblue;
    margin: 50px;
    padding: 30px;
    border: 5px orange solid;
    border-radius: 20px;

    box-shadow: 5px 10px 20px orange;
}

.final_container h2 {
    color: red;
}


.Box_final_container {
    padding: 20px;
    border: 2px rgb(177, 29, 29) solid;
    border-radius: 20px;
    background-color: rgba(255, 0, 0, 0.932);
    margin: 20px;
    padding: 20px;
    color: rgb(255, 255, 255);
}


footer {
    border-top: 10px solid rgb(226, 226, 136);
    margin: 0px;
    text-align: center;
    color: beige;
    background-color: brown;
    padding: 40px;
}


#done {
    margin: 20px;
    padding: 20px;
    color: yellow;
    text-decoration: none;
    font-weight: bolder;
}